# Node modules
node_modules/

# Build output
build/
dist/

# Temporary Strapi files
.tmp/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables (for sensitive info)
.env